// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$Battery-Charged-Blue: #27b9dc;
$Diamond: #b5f4f5;
$Green-Blue: #1555a6;
$UCLA-Blue: #507397;
$Pastel-Blue: #b3c1c7;
$Police-Blue: #3b5064;
