
<div class="banner-home " style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.abcmoteur.fr/wp-content/uploads/2019/10/IMG_4405-e1571136942529.jpg);">
  <div class="container">
    <h1>MyElectricalCarsTrip</h1>
    <p>Change your life with MyElectricalCarsTrip allows you to see the sights with <strong>minimal environmental impact</strong>.</p>

    <%= link_to "See Cars", cars_path, class: "btn btn-primary w-25" %>

  </div>

</div>
