
<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.abcmoteur.fr/wp-content/uploads/2019/10/IMG_4405-e1571136942529.jpg);">
  <div class="container">
    <h1>MyElectricalCarsTrip</h1>
    <p>Change your life with MyElectricalCarsTrip allows you to see the sights with <strong>minimal environmental impact</strong>.</p>
    <a class="btn btn-gradient-home" href="#">See cars</a>
    <%= link_to "See Cars" ,cars_path, class:"btn btn-gradient-home"  %>
  </div>
</div>

<div class="footer">
 <div class="footer-copyright">
    Follow us on <strong>MyElectricalCarsTrip</strong> <i class="fas fa-heart"></i>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>

  </div>
</div>
