.no-border{
  border: 0;
}

.card-cars{
  height: 60vh !important;
  width: 22%;
  margin: 20px 1.5%;
  background-color: rgb(244, 244, 244);
  border-radius: 8px;
  position: relative;
  a {
    text-decoration: none;
    color: #3b5064;
    height: fit-content;
  }
  &:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

.card-img{
  height: 70%;
  border-radius: 8px;
}

.card-text-section{
  max-height: fit-content(30%);
  font-size: 12px;
  p{
    padding: 0;
    margin: 0;
  }

}

.card-link{
  height: 50vh;
  width: 22%;
}

.price{
  color: #1EDD88;
  position: absolute;
  bottom: 7px;
  right: 45px;
  font-size: large;
}
