.navbar-lewagon {
  justify-content: space-between;
  background: rgb(0, 0, 0);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.navbar-lewagon .nav-link {
  color: rgb(255, 255, 255);
}

.navbar-h1 {
  color: rgb(255, 255, 255);
}

.rentcar {
  background-color: rgb(0, 0, 0);
  color: white;
}
