.transaction-owner-section-text{
  text-align: center;

}

.transaction-resume{

  border-radius: 2px;

  h2{
    padding-top: 15px;
    font-weight: bold;
    margin-bottom: 45px;
  }
}

.transaction-owner-section{
  border: solid 3px #b5f4f5;
  border-radius: 8px;
  padding: 20px;
}
