.transaction-owner-section-text{
  text-align: center;
}

.transaction-resume{
  background-color: #b3c1c7;
  border-radius: 2px;

  h2{
    padding-top: 15px;
    font-weight: bold;
    margin-bottom: 45px;
  }
}
